<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/signup.css">
    <title>SignUp Page</title>
</head>
<body>
    <div id="outer-container">
        <form id="form-container" enctype="multipart/form-data">
            <h1 id="signup-text">Sign Up</h1>

            <div class="input-group">
            <span class="input-icon"><i class="fa-solid fa-user"></i></i></span>
            <input type="text" placeholder="Full Name" id=fullname>
            </div>

            <div class="input-group">
            <span class="input-icon"><i class="fas fa-envelope"></i></span>
            <input type="email" placeholder="Email" id="email">
            </div>

            <div class="input-group">
            <span class="input-icon"><i class="fas fa-lock"></i></span>
            <input type="password" placeholder="Password" id="password">
            </div>
            
            <select name="role" id="input-role">
                <option value="admin">Admin</option>
                <option value="teacher">Teacher</option>
            </select>

            <input type="file" accept="image/*" id="image-input" name="ProfilePic">
            <button id="signup-btn">Signup</button>
            <p id="or-text">or</p>

            <button id="google-btn">
            <i class="fab fa-google"></i> Sign up with Google
            </button>
            <p id="login-link">Already have an account?<a href="login">Login</a></p>
        </form>

    </div>

    <script src="./js/signup.js"></script>
</body>
</html>